<!-- Latest compiled and bootstrap minified CSS -->
<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<!-- Custom Stylesheets -->
<link rel="stylesheet" href="../assets/css/styles.css">
<link rel="stylesheet" href="../assets/css/contact.css">


<!--Font Awesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


<!-- Popper js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>


<!-- Bootstrap Js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<!-- Editor -->
<script type="text/javascript" src="assets/js/ckeditor.js"></script>
</head>

<title><%= ocMessages.pages.site.title.translation_2 %></title>

<% include partials/navbar.ejs %>

<div class="container text-center">
    <h1 class="display-4"><%= ocMessages.pages.contact.translation_0 %>
        %>
    </h1>
</div>
<div class="formbox">

    <div class="container">
        <form action="/contact" method="POST" id="contactPage" class="form">

            </br>
            <div class="form-group fieldset contact">
                <label for=""><%= ocMessages.contact.translation_0 %></label>
                <input type="text" class="form-control mb-2" placeholder="First name" name="firstName" autofocus
                       required>
            </div>

            <div class="form-group fieldset contact">
                <label for=""><%= ocMessages.contact.translation_1 %></label>
                <input type="text" class="form-control mb-2" placeholder="Last name" name="lastName" required>
            </div>

            <div class="form-group fieldset contact">
                <label for=""><%= ocMessages.contact.translation_3 %></label>
                <input type="text" class="form-control mb-2" placeholder="555-555-0123" name="phone" required>
            </div>

            <div class="form-group fieldset contact">
                <label for=""><%= ocMessages.contact.translation_2 %></label>
                <input type="email" class="form-control mb-2" placeholder="Someone@onclick.com" name="email">
            </div>

            <div class="form-group fieldset contact">
                <label for=""><%= ocMessages.contact.translation_4 %></label>
                <textarea id="" type="text" class="form-control mb-2" placeholder="Your message"
                          name="message"></textarea>
            </div>

            </br>

            <div class="form-group fieldset">
                <button class="btn btn-primary" type="submit"><%= ocMessages.buttons.translation_1 %></button>
            </div>
        </form>
    </div>
</div>

<% include partials/footer.ejs %>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>