<!-- Latest compiled and bootstrap minified CSS -->
<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<!-- Custom Stylesheets -->
<link rel="stylesheet" href="../assets/css/styles.css">


<!--Font Awesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


<!-- Popper js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>


<!-- Bootstrap Js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<!-- Editor -->
<script type="text/javascript" src="../assets/js/ckeditor.js"></script>
</head>

<title><%= ocMessages.pages.site.title.translation_13 %></title> <!-- onClick | Dashboard -->

<% include partials/navbar.ejs %>


<section id="actions" class="py-4 mb-4 dashboardActionButtons bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#addPostModal"><i
                            class="fa fa-plus"></i><%= ocMessages.pages.dashboard.translation_0 %></a> <!-- Add Post -->
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#addClientModal"><i
                            class="fa fa-plus"></i><%= ocMessages.pages.dashboard.translation_1 %></a>  <!-- Clients -->
            </div>
            <div class="col-md-3">
                <a href="/portfolio" class="btn btn-outline-warning btn-block" data-toggle="modal"
                   data-target="#portfolioModal"><i
                            class="fa fa-plus"></i><%= ocMessages.pages.dashboard.translation_2 %></a> <!-- Portfolio -->
            </div>
        </div>
    </div>
</section>

<section id="post">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center"> <%= ocMessages.pages.dashboard.translation_3 %> </h4> <!-- Client List -->
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                        <tr>
                            <th><%= ocMessages.pages.dashboard.translation_4 %></th> <!-- Client Name -->
                            <th><%= ocMessages.pages.dashboard.translation_5 %></th> <!-- Contact -->
                            <th><%= ocMessages.pages.dashboard.translation_6 %></th> <!-- Message -->
                        </tr>
                        </thead>
                        <tbody>
                        <% user.forEach(function (client) { %>
                        <tr>
                            <td><%= client.firstName %> <%= client.lastName %></td>
                            <td>Phone: <%= client.phone %> E-mail: <%= client.email %></td>
                            <td><%= client.message %></td>
                            <td><a href="/details" class="btn btn-success btn-sm">Details
                                    <i class="fas fa-info-circle"></i>
                                </a></td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center bg-primary text-white mb-3">
                    <div class="card-body">
                        <h3></i><%= ocMessages.pages.dashboard.translation_1 %></h3> <!-- Clients -->
                        <h1 class="display-4">
                            <i class="fas fa-users"></i>
                            <% for (var i = 0; i < user.length; i++) { %>
                            <% if (user.length == 0) { %>
                            0
                            <% } else { %>
                            <%= user.length %>
                            <% } %>
                            <% } %>
                        </h1>
                        <a href="/registered" class="btn btn-outline-light btn-sm"><%= ocMessages.pages.dashboard.translation_7 %></a> <!-- View -->
                    </div>
                </div>
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3><%= ocMessages.pages.dashboard.translation_8 %></h3> <!-- Projects -->
                        <h1 class="display-4">
                            <i class="far fa-folder-open"></i> 6
                        </h1>
                        <a href="/portfolio" class="btn btn-outline-light btn-sm"><%= ocMessages.pages.dashboard.translation_7 %></a>   <!-- View -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer.ejs %>


<!-- Add post modal -->
<div class="modal fade" id="addPostModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title"><%= ocMessages.pages.dashboard.modals.translation_0 %></h5> <!-- Add Post -->
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="post">
                    <div class="form-group">
                        <label for="title"><%= ocMessages.pages.dashboard.modals.translation_1 %></label> <!-- Company -->
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="url"><%= ocMessages.pages.dashboard.modals.translation_2 %></label> <!-- Url -->
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="description"><%= ocMessages.pages.dashboard.modals.translation_3 %></label> <!-- Description -->
                        <textarea name="editor" type="text" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="file"><%= ocMessages.pages.dashboard.modals.translation_4 %></label> <!-- Image -->
                        <input type="file" class="form-control-file">
                        <small class="form-text text-muted"><%= ocMessages.pages.dashboard.modals.translation_5 %></small> <!-- Max size 3MB -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal"><%= ocMessages.buttons.translation_0 %></button> <!-- Close -->
                <button class="btn btn-success" data-dismiss="modal"><%= ocMessages.buttons.translation_1 %></button> <!-- Submit -->
            </div>
        </div>
    </div>
</div>
<!-- End of add post modal -->

<!-- Add client modal-->
<div class="modal fade" id="addClientModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title"><%= ocMessages.pages.dashboard.modals.translation_6 %></h5> <!-- Add Client -->
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="/contact" method="POST" id="contactPage" class="form">

                    </br>

                    <div class="form-group">
                        <label for=""><%= ocMessages.pages.dashboard.modals.translation_7 %></label> <!-- First Name -->
                        <input type="text" class="form-control mb-2" placeholder="First name" name="firstName" autofocus
                               required>
                    </div>

                    <div class="form-group">
                        <label for=""><%= ocMessages.pages.dashboard.modals.translation_8 %></label> <!-- Last Name -->
                        <input type="text" class="form-control mb-2" placeholder="Last name" name="lastName" required>
                    </div>

                    <div class="form-group">
                        <label for=""><%= ocMessages.pages.dashboard.modals.translation_9 %></label> <!-- Last Name -->
                        <input type="text" class="form-control mb-2" placeholder="555-555-0123" name="phone" required>
                    </div>

                    <div class="form-group">
                        <label for=""><%= ocMessages.pages.dashboard.modals.translation_10 %></label> <!-- E-mail -->
                        <input type="email" class="form-control mb-2" placeholder="Someone@onclick.com" name="email">


                        <div class="form-group">
                            <label for=""><%= ocMessages.pages.dashboard.modals.translation_11 %></label> <!-- What are they looking for? -->
                            <input type="checkbox" class="" name="webVal">
                        </div>

                        <div class="form-group">
                            <label for=""><%= ocMessages.pages.dashboard.modals.translation_12 %></label> <!-- What is their available budget? -->
                            <input type="input" class="form-control" name="webVal">
                        </div>

                        <div class="form-group">
                            <label for=""><%= ocMessages.pages.dashboard.modals.translation_13 %></label> <!-- Do they have ideas on what they want? -->
                            <input type="checkbox" class="" name="webVal">
                        </div>

                        <div class="form-group">
                            <label for="<%= ocMessages.pages.dashboard.modals.translation_14 %>"></label> <!-- Do they have anything else they want to add? -->
                            <textarea type="text" id="" class="form-control mb-2" placeholder="Anything else to add?"
                                      name="message"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal"><%= ocMessages.buttons.translation_0 %></button> <!-- Close -->
                <button class="btn btn-success" data-dismiss="modal"><%= ocMessages.buttons.translation_1 %></button> <!-- Submit -->
            </div>
        </div>
    </div>
</div>
<!-- End of add client modal -->

<div class="modal fade" id="portfolioModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title">List of Clients</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="post">
                    <div class="form-group">
                        <label for="title">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="url">Contact</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="description">Message</label>
                        <textarea name="" id="" type="text" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            toolbar: ['bold', 'italic']
        })
        .catch(error => {
            console.error(error);
        });
</script>