
<!-- Latest compiled and bootstrap minified CSS -->
<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<!-- Custom Stylesheets -->
<link rel="stylesheet" href="../assets/css/styles.css">


<!--Font Awesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


<!-- Popper js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>


<!-- Bootstrap Js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<!-- Editor -->
<script type="text/javascript" src="../assets/js/ckeditor.js"></script>
</head>

<title><%= title %></title>

<% include partials/navbar.ejs %>

<div id="main-header" class="py-2 bg-success text-white">
    <div class="container">
        <div class="row">
            <div class="col-md6">
                <h1>User: Details</h1>
            </div>
        </div>
    </div>
</div>

<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-outline-danger btn-block" data-toggle="modal" data-target="#deleteClientModal">
                    <i class="fas fa-times"></i> Delete User</a>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#editClientModal"><i
                            class="fa fa-plus"></i> Edit User</a>
            </div>
            <div class="col-md-3">
                <a href="/portfolio" class="btn btn-outline-warning btn-block" data-toggle="modal" data-target="#clientsModal"><i class="fas fa-hand-holding-usd"></i> Users Services</a>
            </div>
        </div>
    </div>
</section>

<section id="post" class="mb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4> Client Name </h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#Id</th>
                            <th>Client</th>
                            <th>Phone</th>
                            <th>Message</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <% user.forEach(function (client) { %>
                            <td scope="row">1</td>
                            <td><%= client.firstName %> <%= client.lastName %></td>
                            <td>Phone: <%= client.phone %> E-mail: <%= client.email %></td>
                            <td><%= client.message %></td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="deleteClientModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Delete User</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="post">
                    <div class="form-group">
                        <label for="title">Are you sure you want to delete this client?</label>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" href="/dashboard" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>

<script>
    $(document).ready( function() {
        $('.dropdown-toggle').dropdown();
    });
</script>
